html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: 'VCR OSD Mono';
	color: white;
}
	
a{
	text-decoration: none;
	color: white;
}

a:hover{
	color: white;
	text-decoration: none;
}

h2{
	margin: 0; 
}

hr.style-3 {
	border-top: 1px dashed #8c8b8b;
	display: inline-block;
	width: 150px;
	margin-bottom: 60px;
	margin-left: 15px;
}


#ui-overlay-container{
	transition: all 1.3s cubic-bezier(0.86, 0, 0.07, 1);
}

/*Parent*/
#horiz-scroll-div{
	overflow: hidden;
	width: 100%;
}

/*Child*/
#nav-container{
	width: 100%;
}

.bottom-bar{
	width: 70%;
	background-color: white;
	height: 2px;
	overflow-y: none;
	position: relative;
}

.project-category{
	opacity: 0.3;
}

.project-category:hover{
	cursor: pointer;
}

.project-dot{
	height: 15px;
	width: 15px;
	left: 50%;
	border-radius: 50%;
	color: white;
	border: 2px solid white;
	position: absolute;
	top: -7.5px;
	vertical-align: middle;
	background-color: white;
	transition: all 0.1s cubic-bezier(0.23, 1, 0.32, 1);
}

#resume-container{
	position: absolute;
	top: 1000%;
	transition: all 1.4s cubic-bezier(0.23, 1, 0.32, 1);
	opacity: 0;
	visibility: hidden;
}

#resume-frame{
	margin-top: 10px;
}

#up-arrow{
	opacity: 0.3;
	transform: scale(1);
	transition: all 0.5s;
	animation: teaseup 5s infinite;
	animation-timing-function: ease-in-out;
	filter: invert(1);
}

#up-arrow:hover{
	cursor: pointer;
	opacity: 1;
}

@keyframes teaseup{
	0%{top: 0px;}
	50%{top: 20px;} 
	100%{top: 0px;}
}

#project-description{
	font-size: 14pt;
}

.img-preview:hover{
	z-index: 999;
}

.subject-nav{
	font-family: 'Playfair Display', serif;
	font-style: italic;
	letter-spacing: 0px;
	font-size:  13vw !important;
	transition: all 0.5s cubic-bezier(0,.82,.4,1);
	opacity: 0.3;
}


.subject-nav:hover{
	letter-spacing: 10px;
	transform: scale(1.05);
	opacity: 1.0;
	cursor: pointer;
}

.contact-link{
	font-size: 2vw;
	transition: all 0.5s cubic-bezier(0,.82,.4,1);
	opacity: 0.5;
}

.contact-link:hover{
	opacity: 1.0;
}

.project-category-active{
	opacity: 1.0;
}

#project-cat-nav{
	position: fixed;
	top: 0;
	margin: 0 !important;
	width: 100%;
	z-index: 500;
	background-color: black;
	display: none;
	visibility: hidden;
	font-size: 2vw;
}

#game-dev-projects{
	margin-top: 4%;
}

#background{
	width: 100%;
	height: 220%;
	background: url(../css/img/duotonered.png);
	background-size: cover;
	position: absolute;
	z-index: -100;
	-webkit-filter: brightness(0.7);
	filter: brightness(0.7);
	transition: all 1.3s cubic-bezier(0.645, 0.045, 0.355, 1);
	animation-name: brightup-home;
	animation-duration: 1s;
}

#intro-overlay{
	background-color: black;
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 1000;
	font-size: 10vw;
	top: 0;
}

#projects-background{
	width: 100%;
	height: 100%;
	background-color: black;
	position: fixed;
	top: 0%;
	-webkit-filter: brightness(0.4);
/*	background-image: url(../css/img/duotonesky.png);
	background-size: cover;*/
}

#homepage-container{
	transition: all 0.5s;
}

.description-container{
	font-family: 'FreeSans';
}

@keyframes brightup-home{
	from {-webkit-filter: brightness(0.0);
	filter: brightness(0.0);}
	to {-webkit-filter: brightness(0.7);
	filter: brightness(0.7);}
}

@keyframes brightdown-home{
	from {-webkit-filter: brightness(0.7);
	filter: brightness(0.7);}
	to {-webkit-filter: brightness(0.0);
	filter: brightness(0.0);}
}

#background video{
	width: 115%;
	height: 100%;
}

#boot-seq{
	animation: boot-up 0.5s;
}

@keyframes boot-up{
	0% {opacity: 0;}
	99%{opacity: 0;}
	100%{opacity: 1;}
}


.rl-logo{
/*	padding: 15px;
	border: 10px solid white;
	border-radius: 20px;*/
	opacity: 1;
	letter-spacing: 0.1em;
}